<!DOCTYPE>
	<html>
	<head>
		<title>Styles By Sekoya</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
        <h1>Styles By Sekoya</h1>
	    {{{ body }}}

	</body>
</html>

