<h1>{{style.name}}</h1>
<h2>Description</h2>
<p>{{style.description}}</p>

<form action="#" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name=""
<input type="datetime-local" name="">
<input type="submit" value="schedule">
</form>
