body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: lavender;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: bold;
    color: purple;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: darkgoldenrod;
}

p {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: purple;
}

input {
 color: purple;
}

img {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-self: ;
    width: 20em;
    height: 25em;
}


a {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    color: darkgoldenrod;
    width: 20em;
    height: 25em;
    margin: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 20em;
}

.schedule {
    display: flex;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    width: 10em;
}