body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: lavender;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: pink;
}

input {
 color: purple;
}

img {
    display: flex;
    justify-content: center;
    width: 20em;
    height: 25em;
}

/* .container{
    url("/css/images/IMG_0888.PNG");
    height: 25px;
    width: 25px;
} */
/* #hello{
} */